@model ProductItem
<a class="btn" href="https://google.com" alt="@Model.Uid">
    <div class="card">
        <div class="card-header" style="background-image: url(@Model.PreviewImage);">
            <div style="right: 0; bottom: 0;position: absolute; margin: 3px; font-weight: bolder; font-size: larger;">$14.99</div>
        </div>
        <div class="card-body">
            <div class="card-title">
                @Model.Title
            </div>
            <div class="card-sub-title">
                @Model.SubTitle
            </div>
            <div class="card-desc">
                @Model.Description
            </div>
        </div>
    </div>
</a>
 