@model PublicModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutProfile";
}

<div class="container-fluid">
    <div class="cards">
        <img width="200" height="200" src="https://img1.wsimg.com/isteam/stock/4331/:/rs=w:1080,h:812,cg:true,m/cr=w:1080,h:812"/>    
    </div>  
</div>
<div class="cards">
    @foreach (var item in Model.SocialLinks)
    {
        <a class="btn" href="@item.Url">
            <div class="card-links social-link">@item.Name</div></a>
    }
</div>
<div class="cards" id="imx0o">
@foreach (var item in Model.Products)
{
    <a class="btn" href="https://google.com" alt="@item.Uid">
        <div class="card">
            <div class="card-header" style="background-image: url(@item.PreviewImage);">
                <div style="right: 0; bottom: 0;position: absolute; margin: 3px; font-weight: bolder; font-size: larger;">@item.Price</div>
            </div>
            <div class="card-body">
                <div class="card-title">
                    @item.Title
                </div>
                <div class="card-sub-title">
                    @item.SubTitle
                </div>
                <div class="card-desc">
                    @item.Description
                </div>
            </div>
        </div>
    </a> 
}
</div>
